<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/assets/Design_sem_nome-removebg-preview.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Bruna Bonifácio</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>
    
    <aside id="header">
        <section class="profile">
            <img src="../static/img/assets/fotobru.jpg" alt="Foto da Bruna">
            <h1>Bruna Bonifácio</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/bruna-bonifácio/">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://github.com/brubonifacio">
                    <i class="bi bi-github"></i>
                </a>
                
            </div>

        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-fill"></i>Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person-badge-fill"></i>Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-file-earmark-check-fill"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-person-fill"></i>Currículo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection-fill"></i>Portfólio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope-fill"></i>Contato</a>
                  </li>
                
              </ul>

        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0" >
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-light text-shadow">Bruna Bonifácio</h2>
                <span id="subtitle" class="text-light text-shadow">Desenvolvedora Java Jr.</span>

    

            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down-circle-fill"></i>
                <a href="#sobre">Arraste para mais</a>
                </div>

            </div>

        </section>

        <section class="container mt-5" id="sobre">

            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>
                        Meu nome é Bruna, eu tenho 25 anos e sou mãe solo.
                        Desde pequena fui muito curiosa, aprendia inglês com DVD de música, escrevia letras em caderninhos e ficava memorizando com a tradução o que cada palavra significava.
                        Quando eu tinha 7 anos, ganhei um tabuleiro de xadrez, e comecei a treinar sozinha, na quarta série participei de um campeonato mas não consegui ir pras eliminatórias, mesmo assim continuei. Quando estava na oitava série, surgiu outra oportunidade, e eu fui selecionada para participar de vários torneios, ganhamos na época, em mais ou menos 5 cidades próximas de onde moro, e eu ouvia muito que eu era boa com lógica. 
                        Fiquei mais velha, minhas rotinas mudaram e eu comecei a me sentir mais envolvida com a área de Psicologia e Filosofia, que até então eram as áreas que eu me encontrava, sempre pensei que uma pessoa só pudesse gostar de uma coisa só na vida. 
                        Depois de alguns anos tentando me descobrir, surgiu a oportunidade de ingressar na área de tecnologia, e eu abracei, feliz e ciente que era capaz. Assim que comecei, me senti em casa, foi uma sensação diferente, nova, e me lembrei da Bruna curiosa e determinada, que sempre fui. Me formei em um bootcamp, da Generation Brasil, como desenvolvedora java jr, e além disso, aprendi sobre metodologia ágil, habilidades de como usar a persistência, atenção aos detalhes, mentalidade de crescimento entre outras.

                    </p>

                </div>

            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/assets/fotobru.jpg" alt="Foto da Bruna">
                </div>
                <div class="col-md-8">
                    <h3>Em busca da minha primeira oportunidade!</h3>
                    <p>
                        Após meses de especializações e ainda em fase de muito aprendizado, me encontro em busca de minha primeira colocação no mercado de trabalho na área da tecnologia.
                        Atualmente me dedico em me especializar ainda mais em Front-end, e estou aprimorando CSS, JS HTML, e banco de dados usando SQL e noSQL. Também iniciei meus estudos em novas áreas como Python e React.
                    </p>

                   <div class="row mt-3 mb-3">

                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-6">
                            <li class="list-group-item">
                                Aniversário: <span class="fw-lighter">08 de Novembro de 1995</span>
                            </li>
                            <li class="list-group-item">
                                Idade: <span class="fw-lighter">25 anos</span></li>
                            <li class="list-group-item">
                                Cidade: <span class="fw-lighter">Jandira-SP</span></li>
                           
                            
                            
                          </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-6">
                            <li class="list-group-item">
                                Hobby: <span class="fw-lighter">Cozinhar</span></li>
                            </li>
                            <li class="list-group-item">
                                Nível: <span class="fw-lighter">Júnior</span></li>
                            <li class="list-group-item">
                                Soft Skill: <span class="fw-lighter">Comunicação</span></li>
                            
                            
                            
                          </ul>
                    </div>

                   </div>
                   <p>

                   </p>
                    
                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class='pt-5'>Habilidades</h2>
                <p>
                    Ao decorrer do tempo adquiri algumas habilidades técnicas e não técnicas, e a maioria delas estão aqui, de acordo com a portagem que eu acredito que ter em cada uma delas.
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                          </div>
                          <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                          </div>
                          <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                          </div>
                          <p class="mt-3 mb-0">Java</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                          </div>
                          <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                          </div>
                          
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                          </div>
                        <p class="mt-3 mb-0">Angular</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                          </div>
                          <p class="mt-3 mb-0">Spring</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                          </div>
                          <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                          </div>
                          <p class="mt-3 mb-0">NoSQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                          </div>
                    </div>
                    
                </div>

                <hr class='w-50 me-auto ms-auto'> 
            
                
                <div class="row">

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                          </div>
                          <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>
                          <p class="mt-3 mb-0">Atenção aos detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                          </div>
                    
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                          </div>
                          <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>
                          <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                          </div>
                    </div>

                </div>

            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">

                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class='cv-item'>
                            <h4>Desenvolvedor Web Java Jr.</h4>
                            <h5> 2021 - 2021</h5>
                            <p><em>Generation Brasil</em></p>
                            <p>Bootcamp com foco em especializar profissionais e capacitar para o mercado de trabalho na área de TI. Com carga horária de 447h.</p>

                        </div>

                        <div class='cv-item'>
                            <h4>Git e Github</h4>
                            <h5> 2021 - 2021</h5>
                            <p><em>Alura</em></p>
                            <p>Curso para especialização na plataforma de versionamento de código. Com carga horária de 6h.</p>

                        </div>

                        <div class='cv-item'>
                            <h4>Programação Orientada a Objetos</h4>
                            <h5> 2021 - 2021</h5>
                            <p><em>Udemy - Professor Nélio Alves</em></p>
                            <p>Curso para aprofundar conhecimentos sobre Java, UML, Spring, MySQL, NoSQL, e MongoDB. Com carga horária de 50h</p>

                        </div>

                    </div>

                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        
                        <div class='cv-item'>
                            <h4>UX/UI</h4>
                            <h5> 2020 - 2020</h5>
                            <p><em>Bonibaker Padaria</em></p>
                            <p>A Bonibaker surgiu do sonho da minha família de ter o própio negócio, unimos talentos para fazer tudo acontecer. Ofereci meus conhecimentos em UX/UI enquanto fiz parte da equipe para assim fazer nascer essa empresa familiar.</p>

                        </div>

                        <div class='cv-item'>
                            <h4>Atendente</h4>
                            <h5> 2019 - 2020</h5>
                            <p><em>Sherlock Dog</em></p>
                            <p>Franquia com produtos de qualidade, priorizando o atendimento presencial e com alto padrão de excelência.</p>

                        </div>

                        <div class='cv-item'>
                            <h4>Atendimento Técnico</h4>
                            <h5> 2016 - 2016</h5>
                            <p><em>Omnilink</em></p>
                            <p>Empresa de rastreamento de veículos de passeio e trabalho, atuei de forma técnica solucionando possiveis problemas de aparelho.</p>

                        </div>


                    </div>

                </div>

            </div>

        </section>
    </main>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>